<ng-template [ngIf]="showAllLessons()">
<div style="height: 100px;"></div>
<div class="post-wrap">
	<div class="post-item" *ngFor="let p of lessons">
		<div class="post-item-wrap">
            <h3 class="h2"> {{p?.name}} </h3>
			<img style="height: 240px; width: 250px;" src="{{meditationImagesList[(p?.id)%6]}}">
			<div class="line">
				<a class="post-link">
            <input id="buttonId" type="button" value=".........подробнее" (click)="showLesson(p?.id)" class="btn btn-success" />			
        </a>
    </div>
     </div>
	</div>	
</div>
</ng-template>

<ng-template [ngIf]="(!showAllLessons())&&(!saveFlag)">
    <div style="height: 100px;"></div>
            <tr *ngFor="let p of lessons">
                <div  class="caption-bottom">
                    <img  src="{{meditationImagesList[(p?.id)%6]}}">
                    <h2><td>{{p?.name}}</td>
                    </h2>
                    <br>
                </div>
                <br>
                    <p class="descriptionPclass">{{p?.description}}</p>
                    <figure>
                        <audio
                            controls
                            src="{{p?.pathAttachment}}">
                                Your browser does not support the
                                <code>audio</code> element.
                        </audio>
                    </figure>

             <button class="button-3"  (click)="saveLesson(p)"> Сохранить </button>
    <div style="height: 100px;"></div>
        </tr>
</ng-template>

<ng-template [ngIf]="(!showAllLessons())&&saveFlag">
    <div style="height: 100px;"></div>
            <tr *ngFor="let p of lessons">
                <div  class="caption-bottom">
                    <img  src="{{meditationImagesList[(p?.id)%6]}}">
                    <h2><td>{{p?.name}}</td>
                    </h2>
                    <br>
                </div>
                <br>
                    <p class="descriptionPclass">{{p?.description}}</p>
                    <figure>
                        <audio
                            controls
                            src="{{p?.pathAttachment}}">
                                Your browser does not support the
                                <code>audio</code> element.
                        </audio>
                    </figure>

             <button class="button-3"> Сохранено </button>
    <div style="height: 100px;"></div>
        </tr>
</ng-template>
