<body  >
<img class="MainImageClass" src="http://localhost:50096/images/meditationMain.jpg">
</body>
<!--
    <mat-card>
    <span>Our lessons:</span>
    <mat-table [datasorce]="lessons">
       
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let lesson">{{lesson.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>name</mat-header-cell>
            <mat-cell *matCellDef="let lesson">{{lesson.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>description</mat-header-cell>
            <mat-cell *matCellDef="let lesson">{{lesson.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pathAttachment">
            <mat-header-cell *matHeaderCellDef>pathAttachment</mat-header-cell>
            <mat-cell *matCellDef="let lesson">{{lesson.pathAttachment}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns; columns;"></mat-row>

    </mat-table>
</mat-card>
-->

<!-- <h1>HOME</h1>
<p><img src="http://localhost:50096/images/cat.jpg" style="height:10cm;">картинка</p>
<audio controls>
    <source src="http://localhost:50096/audio/rasa_-_ledyshka.mp3" type="audio/mpeg">
</audio> -->

