<ng-template [ngIf]="!finishFlag">
    <div style="margin: 100px 300px;">
        <h2>Текущие уроки пользователей</h2>
    <table class="table_col">
        <colgroup>
            <col style="background:#e2eaf3;">
        </colgroup>
        <tr>
          <th>Название</th>
          <!-- <th>Описание</th> -->
          </tr>
        <tr *ngFor="let p of lessonsName">
            <td>{{p}}</td>
            <!-- <td>{{p?.description}}</td> -->
            </tr>
        </table> 
    </div>
    <input id="buttonId" type="button" value="Пройденные уроки медитации" (click)="getFinishLessons()" class="btn btn-success" />			        
    <div style="height: 100px;">
    </div>
</ng-template>
<ng-template [ngIf]="finishFlag">
    <div style="margin: 100px 300px;">
        <h2>Выполненные уроки пользователей</h2>
    <table class="table_col">
        <colgroup>
            <col style="background:#C7DAF0;">
        </colgroup>
        <tr>
          <th>Название</th>
          </tr>
        <tr *ngFor="let p of lessonsName">
            <td>{{p}}</td>
            </tr>
        </table> 
    </div>
    <input id="buttonId" type="button" value="Текущие уроки медитации" (click)="getCurrentLessons()" class="btn btn-success" />			        
    <div style="height: 100px;">
    </div>
</ng-template>